h1 {
  text-align: center;
}
.listsWrapper {
  border: 1px solid #d1d5da;
  max-width: 55%;
  margin: 0 auto;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
}
.lists {
  list-style-type: none;
  padding: 20px 20px 20px 40px;
  border-bottom: 1px solid #d1d5da;
}
.lists:last-child {
  border: none;
}

.lists:hover {
  background-color: #f6f8fa;
}

a {
  padding-left: 10px;
  text-decoration-line: none;
  color: #24292e;
}
a:hover {
  color: #0366d6;
}
